/* 
Partial reset taken from 
http://meyerweb.com/eric/tools/css/reset/ 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --container-bg: rgba(231, 255, 250, 0.791);
}

body {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'footer main';
  grid-template-rows: auto 91vh auto;
  grid-template-columns: 1fr 4fr;
  background-image: url(images/bg.png);
  background-size: cover;
}

/* **** HEADER **** */
.header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  grid-area: header;

  /* background-color: rgba(231, 255, 250, 0.791); */
}

.header div:first-child {
  font-size: 2rem;
}

/* **** SIDEBAR **** */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--container-bg);
  padding-top: 50px;
}

/* Indent sidebar column */
.sb-columns {
  padding-left: 20px;
}

/* headings for sidebar 'Home' and 'Projects' */
.sidebar > div > h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  padding-top: 20px;
}

/* Container for sidebar "Home" section */
.sb-home-container {
  display: flex;
  flex-direction: column;
}

/* sidebar clicking elements */
.sb-btns {
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: transparent;
}

.sb-btns:hover {
  cursor: pointer;
  background-color: #0000004b;
}

.sb-btns:focus {
  background-color: #0000004b;
  outline: none;
}

ul {
  list-style-type: none;
}

/* container for project list */
.sb-projects-container {
  height: 300px;
  overflow-y: scroll;
}

/* container for new project buttons */
.project-btn-cont {
  display: flex;
  justify-content: center;
  position: relative;
}

#new-project-btn {
  width: 200px;
  height: 30px;
  margin: 0px;
  border-radius: 15px;
  border-style: none;
  background-color: rgb(113, 198, 113);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-btns:hover,
.project-btns:focus {
  filter: brightness(120%);
}

/* hidden form for new project */
#project-form-btns {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;
}

/* Create and Cancel buttons */
#project-form-btns > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* input for new project form */
#project-form-btns > input {
  height: 30px;
  width: 200px;
  border-radius: 10px;
  text-indent: 5px;
  border: none;
}

/* submit new project */
#new-project-submit {
  background-color: rgb(118, 118, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
}

/* cancel new project submission */
#new-project-cancel {
  background-color: rgb(255, 118, 118);
  border: none;
  border-radius: 10px;
  padding: 5px;
}

/* **** MAIN **** */
.main {
  grid-area: main;
  margin: 50px;
  background-color: var(--container-bg);
  border-radius: 15px;
  padding: 50px;
}

.task-line {
  display: flex;
  justify-content: space-between;
}

/* **** FOOTER **** */
footer {
  grid-area: footer;
  padding: 10px;
  background-color: var(--container-bg);
}
