/* 
Partial reset taken from 
http://meyerweb.com/eric/tools/css/reset/ 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --container-bg: rgba(255, 255, 255, 0.517);
  --green-add: rgb(113, 198, 113);
  --blue-create: rgb(118, 118, 255);
  --red-cancel: rgb(255, 118, 118);
  font-size: 20px;
}

body {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'footer main';
  grid-template-rows: auto 83vh 4vh;
  /* grid-template-columns: 1fr 4fr; */
  grid-template-columns: minmax(175px, 20vw) 80vw;
  /* background-image: url(images/bg.png); */
  background: linear-gradient(45deg, #acf0ff 0%, #6399ff 100%);
  background-attachment: fixed;
  /* background-size: cover; */
  background-repeat: no-repeat;
  overflow-y: hidden;
  font-family: 'Quaver Sans', sans-serif;
}

svg {
  pointer-events: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221);
  border-radius: 10px;
}

button:hover {
  filter: brightness(120%);
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* ****************** */
/* <---- HEADER ----> */
/* ****************** */

.header {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  /* align-items: center; */
  /* gap: 10px; */
  padding-left: 30px;
  padding-top: 30px;
  grid-area: header;
}

/* 'IdeaList' header */
.header div:first-child {
  font-size: 2.3rem;
  font-family: 'Nurinthya', sans-serif;
}

.header div:nth-child(2) {
  font-size: 1.3rem;
}

/* ********************* */
/* <----- SIDEBAR -----> */
/* ********************* */

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--container-bg);
  padding-top: 50px;
}

#collapsible {
  align-self: flex-end;
  padding-right: 20px;
  display: none;
}

/* Indent sidebar column */
.sb-columns {
  padding-left: 20px;
}

/* headings for sidebar 'Home' and 'Projects' */
.sidebar > div > h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  padding-top: 20px;
}

/* Container for sidebar "Home" section */
.sb-home-container {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

/* sidebar clicking elements */
.sb-btns {
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: transparent;
  overflow-wrap: anywhere;
  border-radius: 10px;
}

.sb-btns:hover {
  background-color: #ffffff88;
}

.sb-btns:focus {
  background-color: #ffffff88;
  outline: none;
}

/* container for project list */
.sb-projects-container {
  height: 300px;
  overflow-y: scroll;
}

/* style each line for project list */
.sb-projects-container li {
  display: flex;
}

.delete-proj {
  width: 15px;
}

/* container for new project buttons */
.project-btn-cont {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

/* Button for adding new project */
#new-project-btn {
  width: clamp(100px, 95%, 300px);
  /* height: auto; */

  margin: 0px;
  border-radius: 10px;
  border-style: none;
  background-color: rgba(39, 39, 39, 0.088);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

#new-project-btn:hover {
  background-color: var(--green-add);
}

#new-project-btn:focus,
#add-task-btn:focus {
  background-color: var(--green-add);
  outline: none;
}

/* hidden form for new project */
#project-form-btns {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: clamp(100px, 95%, 300px);
}

/* input for new project form */
#project-form-btns > input {
  height: 30px;
  width: 98%;
  border-radius: 10px;
  text-indent: 10px;
  border: none;
}

/* Create and Cancel buttons */
#project-form-btns > div {
  gap: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
}

/* submit new project */
#new-project-submit {
  background-color: var(--blue-create);
  border: none;
  border-radius: 10px;
  padding: 5px;
}

/* cancel new project submission */
#new-project-cancel {
  background-color: var(--red-cancel);
  border: none;
  border-radius: 10px;
  padding: 5px;
}

/* ****************** */
/* <----- MAIN -----> */
/* ****************** */

.main {
  grid-area: main;
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 15px;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: clamp(300px, 90%, 1000px);
}

/* container for both page title and task form */
#task-header {
  font-size: 2rem;
}

/* container for page title and delete project button */
.title-line {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

#delete-project-btn {
  background-color: transparent;
  border-style: none;
  padding: 0px;
}

#delete-project-btn:hover {
  transform: scale(1.1);
}

/* container for add task btn and task form */
#new-task-cont {
  width: 100%;
  height: 100%;
}

/* button for opening task form */
#add-task-btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.134);
  border-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
  font-size: 1.2rem;
}

#add-task-btn:hover {
  background-color: var(--green-add);
}

/* container for form elements for submitting new task */
#task-form {
  height: auto;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: var(--container-bg);
  padding-top: 5px;
}

#task-form input,
#task-form select {
  border-radius: 10px;
  border-style: none;
  text-indent: 5px;
}

/* line elements for task form */
.form-title-cont,
.form-date-cont,
#form-select-cont {
  display: grid;
  grid-template-columns: auto 85%;
  margin: 10px;
}

.form-btn-cont {
  width: 100%;
}

/* buttons for submitting new task or canceling add task */
#create-task-btn,
#cancel-task-btn {
  width: 50%;
  border-style: none;
  height: 30px;
}

#create-task-btn {
  border-bottom-left-radius: 15px;
  border-right: solid 1px gray;
  background-color: var(--blue-create);
}

#cancel-task-btn {
  border-bottom-right-radius: 15px;
  background-color: var(--red-cancel);
}

/* ************************* */
/* <----- TASK CONTENT -----> */
/* ************************* */

/* container for list of tasks */
#task-list {
  gap: 15px;
  height: 90%;
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, max-content);
}

/* individual container for each task */
.task-card {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  align-items: center;
  border-radius: 15px;
  gap: 5px;
  background-color: var(--container-bg);
  width: clamp(200px, 100%, 1000px);
}

/* project title on task card */
.card-project {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  font-size: 0.8rem;
  background-color: white;
  width: 200px;
  padding-top: 0px;
  height: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* middle line for each task card */
.midline-card {
  gap: 10px;
  padding: 0px 5px;

  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

/*  container for left column in task card */
.card-left-column {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  grid-column: span 2;
  /* width: clamp(250px, 60%, 1000px); */
}

.card-priority {
  width: 83px;
  display: flex;
  justify-content: flex-end;
}

/* title of task card */
.card-title {
  overflow-wrap: anywhere;
  font-size: 1rem;
}

/*  container for right column in task card */
.card-right-column {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  grid-column: span 1;
  /* width: 225px; */
}

.card-date {
  font-size: 0.8rem;
  width: 70px;
}

/* btns for edit/delete/restore/perm delete  */
.card-btns {
  background: none;
  border-style: none;
  height: 25px;
  width: 25px;

  /* center SVG in each button */
  display: grid;
  justify-content: center;
}

.card-btns:hover {
  transform: scale(1.1);
}

/* SVG for delete btn */
#delete-svg {
  fill: transparent;
  stroke: black;
}

/* ************************* */
/* <----- EDIT POP UP -----> */
/* ************************* */

/* popup container for editing a task */
#edit-popup {
  height: 250px;
  width: 250px;
  background-color: white;
  position: absolute;
  border-radius: 24px;
  right: 50%;
  bottom: 50%;
  margin-right: -125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.668);
}

#edit-popup input,
#edit-popup select,
#edit-popup textarea {
  border-radius: 5px;
  border-style: none;
  background-color: rgb(220, 220, 220);
  text-indent: 10px;
}

.edit-header {
  text-align: center;
  font-size: 1.5rem;
}

.edit-middle-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

#edit-desc {
  height: 80px;
  resize: none;
}

.edit-priority-line {
  display: flex;
  gap: 5px;
}

#edit-priority {
  width: 100%;
}

.edit-btns-line {
  display: flex;
  width: 100%;
}

.edit-btns {
  width: 50%;
  border-style: none;
  height: 30px;
}

#save-task-btn {
  border-bottom-left-radius: 20px;
  background-color: var(--blue-create);
}

#cancel-edit-btn {
  border-bottom-right-radius: 20px;
  background-color: var(--red-cancel);
}

/* ****************** */
/* <---- FOOTER ----> */
/* ****************** */

footer {
  grid-area: footer;
  padding: 10px;
  background-color: var(--container-bg);
}

/* ********************************* */
/* <---- MOBILE RESPONSIVENESS ----> */
/* ********************************* */
@media all and (max-width: 600px) {
  body {
    display: grid;
    min-width: 335px;
    grid-template-areas:
      'header'
      'sidebar'
      'main'
      'footer';
    grid-template-rows: auto auto 80% 50px;
    grid-template-columns: 100%;
    overflow-y: scroll;
  }

  .header {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    grid-area: header;
  }

  .sidebar {
    display: grid;
    grid-template-areas:
      'collapsible collapsible'
      'home projects'
      'home projects'
      'home button';
    gap: 0px;
    padding-top: 5px;
    padding-bottom: 25px;
    background-color: var(--container-bg);
    border-radius: 20px;
    margin: 15px;
    max-height: 300px;
  }

  #collapsible {
    margin-top: 15px;
    grid-area: collapsible;
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
  }

  #collapsible div {
    width: 50%;
    font-size: 1.4rem;
    font-weight: 800;
  }

  #collapsible:hover {
    cursor: pointer;
  }

  .sidebar-home {
    grid-area: home;
  }

  .sidebar-projects {
    grid-area: projects;
  }

  .project-btn-cont {
    grid-area: button;
  }

  .sb-columns {
    display: none;
  }

  /* container for project list */
  .sb-projects-container {
    max-height: 200px;
    overflow-y: scroll;
  }

  /* Create and Cancel buttons */
  #project-form-btns > div {
    flex-wrap: nowrap;
  }

  .main {
    width: 95%;
    margin-left: 4%;
    justify-content: center;
  }

  .card-right-column {
    justify-content: flex-start;
  }
}
